In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 데이터불러오기(이륜차신고현황)

In [3]:
df = pd.read_csv('./data/2018_월별_이륜차신고현황.csv')
df

    Unnamed: 0 시도명         소계
0            0  합계  2194140.0
1            1  합계  2193273.0
2            2  합계  2195171.0
3            3  합계  2198065.0
4            4  합계  2200707.0
5            5  합계  2203142.0
6            6  합계  2206025.0
7            7  합계  2210071.0
8            8  합계  2212520.0
9            9  합계  2212121.0
10          10  합계  2210664.0
11          11  합계  2208424.0

In [4]:
df_num=pd.DataFrame()
for i in range(18,22,1):
    df = pd.read_csv(f'./data/20{i}_월별_이륜차신고현황.csv')
    df_num = pd.concat([df_num,df])
    
df_num = df_num[['소계']]
df_num.columns=['이륜차등록대수']
df_num = df_num.reset_index(drop=True)

# Year, Month 칼럼 추가(이륜차 신고현황)

In [7]:
list_year = ['2018']*12 + ['2019']*12 + ['2020']*12 + ['2021']*12
df_num['year']=list_year
list_month = range(1,13)
list_month = list(list_month)*4
df_num['month'] = list_month
df_num.head()

     이륜차등록대수  year  month
0  2194140.0  2018      1
1  2193273.0  2018      2
2  2195171.0  2018      3
3  2198065.0  2018      4
4  2200707.0  2018      5

# 이륜차 사고율

In [8]:
df_percent = pd.read_csv('./data/이륜차사고율.csv')
df_percent = df_percent[['사고율']]
df_percent.head()

        사고율
0  5.162692
1  5.330701
2  6.861708
3  7.053135
4  7.029405

In [11]:
list_year = ['2018']*12 + ['2019']*12 + ['2020']*12 + ['2021']*12
list_month = range(1,13)
list_month = list(list_month)*4
df_percent['year']=list_year
df_percent['month']=list_month
df_percent.to_csv('./data_2/이륜차사고율.csv')

# 온라인 판매량

In [14]:
df_sale = pd.read_csv('./data/온라인판매량.csv')
df_sale = df_sale[['온라인판매량']]
df_sale.head()

   온라인판매량
0  309665
1  288800
2  325867
3  318369
4  355920

In [17]:
list_year = ['2018']*12 + ['2019']*12 + ['2020']*12 + ['2021']*12
list_month = range(1,13)
list_month = list(list_month)*4
df_sale['year']=list_year
df_sale['month']=list_month
df_sale.to_csv('./data_2/온라인판매량.csv')