In [48]:
import pandas as pd
df = pd.DataFrame()
for i in range(0,7,1):
    file_path = f'./data/교통사고 지표 현황 ({i}).xls'
    df_file = pd.read_excel(file_path)
    df = pd.concat([df,df_file])

C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\admin\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [49]:
df = df.reset_index(drop=True)

In [50]:
df = df.dropna()

In [51]:
df.columns = ['지역','유형','발생건수','?','?','?','사망자수','치사율']

In [52]:
df = df[['지역', '유형', '발생건수','사망자수','치사율']]

In [53]:
df.sort_values(by = '치사율', ascending=False).head(10)

    지역       유형 발생건수 사망자수    치사율
6   서울       과속   17    6  35.29
46  서울       터널   13    2  15.38
27  서울    공작물추돌   46    6  13.04
47  서울       교량   26    2   7.69
32  서울  차량단독-기타   90    5   5.56
31  서울       전도   75    3      4
65  서울     알수없음  142    3   2.11
22  서울     정면충돌  154    3   1.95
61  서울     5년미만  162    3   1.85
40  서울       기타   55    1   1.82

In [54]:
df.sort_values(by = '발생건수', ascending=False).head(10)

    지역       유형  발생건수 사망자수   치사율
69  서울       남성  3910   40  1.02
36  서울       맑음  3476   37  1.06
7   서울  안전운전불이행  1999   22   1.1
64  서울    15년이상  1740   16  0.92
48  서울  기타(단일로)  1637   19  1.16
23  서울   측면직각충돌  1375    6  0.44
44  서울     교차로안  1356   10  0.74
26  서울   차대차-기타  1201   11  0.92
76  서울      20대  1190    9  0.76
3   서울     신호위반   924   10  1.08

In [55]:
df[df['사망자수']==0]

    지역          유형 발생건수 사망자수 치사율
2   서울       중앙선침범  193    0   0
5   서울        불법유턴   20    0   0
8   서울   교차로운행방법위반  152    0   0
9   서울   보행자보호의무위반   74    0   0
10  서울        차로위반   35    0   0
11  서울   직진우회전진행방해  146    0   0
12  서울          기타   95    0   0
13  서울        알수없음    2    0   0
18  서울       차도통행중   60    0   0
19  서울  길가장자리구역통행중   16    0   0
20  서울       보도통행중   58    0   0
21  서울     차대사람-기타  212    0   0
25  서울       후진중추돌    6    0   0
28  서울   도로외이탈(추락)    1    0   0
29  서울   도로외이탈(기타)    3    0   0
30  서울      주차차량추돌    1    0   0
39  서울           눈    8    0   0
49  서울       고가도로위   12    0   0
50  서울   지하차도(도로)내   29    0   0
52  서울          불명    1    0   0
60  서울        4년미만  114    0   0
71  서울        알수없음    8    0   0
81  서울        알수없음    8    0   0